# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [ ]:
import pandas as pd
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv"

df = pd.read_csv(url)
df.head()
df.columns

In [ ]:
print(f"The current shape of our dataframe is {df.shape}")

In [ ]:
print(df.isnull().sum(), "a lot of 633 nulls in separated columns... Marge Simpson's Groan here\n")
print(df.duplicated().sum(), "no duplicates, lovely")

In [ ]:
# 1. Create a new DataFrame that only includes customers who have a total_claim_amount
# greater than $1,000 and have a response of "Yes" to the last marketing campaign

df.dropna(subset = ["Response"], inplace=True)
#df["Response"].isnull().sum()

df1 = df[df["Response"] == "Yes"]
df2 = df1[df1["Total Claim Amount"] > 1000]
#df2

# And for the actual answer
df3 = df[(df["Response"] == "Yes") & (df["Customer Lifetime Value"] > 1000)]
df3

In [ ]:
# 2. Using the original Dataframe, analyze the average total_claim_amount by each policy type
# and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.
"""Re-using df1 - because is actually my "YES" response sample"""

df1.groupby(["Gender", "Policy Type"]).agg({"Total Claim Amount":"mean"})

In [ ]:
# 2.
"""From the output we can see that the cost of policy type is actually different according to gender:
Women actually pay more for "Special Auto" while man pay less 23,753 for the same policy type.
Corporate auto is the less expensive for both samples, but still, women pay more for that same policy type"""

In [ ]:
# 3. Analyze the total number of customers who have policies in each state,
# and then filter the results to only include states where there are more than 500 customers.

# First, group by 'State' and count the number of customers in each state
df_3 = df.groupby("State").agg({"Customer": "count"})

# After having my sample, going to filter states with more than 500 customers
df_3 = df_3[df_3['Customer'] > 500]
df_3

In [ ]:
# 4.Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

df4_max = df.groupby(["Gender", "Education"]).agg({"Customer Lifetime Value":"max"})
df4_max
""" CLV max can be found for women with Bachelor degree as for men, is actually a lower education level like high school or even below"""

In [ ]:
df4_min = df.groupby(["Gender", "Education"]).agg({"Customer Lifetime Value":"min"})
df4_min

"""CLV min can be found for women with college degree, but really close to the Bachelor degree.
For men, the min takes the same value as women, but is found in Bachelor degree education level"""

In [ ]:
df4_median = df.groupby(["Gender", "Education"]).agg({"Customer Lifetime Value":"median"})
df4_median

In [ ]:
"""In both genders customers with "High School or Below" education level have the highest median CLV. While "doctor" education level has the lowest median for both genders"